body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.buttons, .form {
    margin: 20px 0;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}


.data-display {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}

input, textarea {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 100px;
}

.form button {
    width: 50%;
}
